<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedmineOutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RedmineOutlookAddIn.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value />
            </setting>
            <setting name="apyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentFolder" serializeAs="String">
                <value>Redmine</value>
            </setting>
            <setting name="CurrentCalendar" serializeAs="String">
                <value>RedmineCalendar-</value>
            </setting>
        </RedmineOutlookAddIn.Properties.Settings>
    </userSettings>
</configuration>